body {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgb(3, 168, 245);
    text-align: center;
    margin-top: 15%;
}

#root-div {
    position: relative;
}

button {
    background-color: crimson;
    border-style: hidden;
    font-size: 50px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
}